body {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 5 0 0;
}

.main-gutter {
  flex: 1 0 0;
}